@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Google Sans';
}

body {
    background-color: white ;
    color: black;
}

.head-container {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.823);
    align-items: center;
    z-index: 1000;
}

.profile {
    display: flex;
    margin-left: 30px;
    gap: 10px;
    align-items: center;
}

.profile h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
}

.profile p {
    font-size: 12px;
}

.profile svg {
    fill: rgb(104, 104, 222);
}

.navigate-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 600px;
    background-color: white;
    border-right: 1px solid rgba(105, 105, 105, 0.805);
}

.end-links {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.end-links a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .2s ease;
    margin-left: 20px;
}

.navigate-links a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: .2s ease;
}

.navigate-links a:hover {
    color: #6868de;
}

.anchors {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
}

.anchors .active {
    font-weight: 600;
    color: rgb(104, 104, 222);
    background-color: rgba(104, 104, 222, 0.153);
    border-radius: 4px;
}

.display-content {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 20px;
}

.edu-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
}

.edu-element, .sec-head {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.edu-element, .sec-para {
    font-weight: 100;
    font-size: 13px;
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.593);
}

.edu-elements-section, .skill-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.305);
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}

.display-content, .head {
    font-size: 40px;
    font-weight: 200;
}

.body-elements {
    display: flex;
}

.edu-btn {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #6868de;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: 'Google Sans';
    font-size: 13px;
    transition: .2s ease;
    cursor: pointer;
}

.edu-btn:hover {
    background-color: #3c3c96;
}

.page {
    display: none;
}

.skills-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.work-para {
    width: 89%;
    height: auto;
    padding-top: 10px;
}

.illustration {
    display: block;
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.notice {
    width: 100%;
    height: auto;
    display: flex;

}

footer {
    width: 100%;
    height: 100px;
    background-color: #3c3c96;
    color: white;
}

.copyright {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.copyright-text {
    font-size: 12px;
    font-weight: 100;
}